.cart-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.cart-container h2 {
    margin: 0;
}

.cart-sections {
    max-width: var(--max-w);
    margin-top: 2rem;
    display: flex;
}

.cart-section {
    margin: 0 .5rem;
    max-width: var(--max-w);
}

/* .............Cart item container............. */

.cart-section {
    border: 2px solid var(--clr-bg-accent);
    padding: .5rem;
    border-radius: var(--br);
}

.cart-section.items .cart-item-container:not(:last-child) {
    margin-bottom: .5rem;
}

.cart-item-container {
    background-color: var(--clr-bg-accent);
    border-radius: var(--br);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    /* min-width: 500px; */
}

.cart-item-info, .cart-item-price {
    display: flex;
    align-items: center;
}

.cart-item-info {
    margin-right: 2rem;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: .5rem;
    display: flex;
    align-items: center;
}

.cart-item-image img {
    height: 100%;
}

.cart-item-name {
    font-weight: 700;
}

.cart-item-name p:first-child {
    font-size: x-large;
}

.cart-item-quantity {
    margin-right: 2rem;
    text-align: center;
}

.cart-item-quantity-counter {
    display: flex;
    border: 1px solid var(--clr-bg);
    border-radius: var(--br);
    padding: .1rem;
    align-items: center;
    justify-items: center;
}

.cart-item-quantity-counter button {
    border: none;
    background-color: var(--clr-bg);
    cursor: pointer;
    width: 40px;
    height: 35px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-quantity-counter button:hover {
    opacity: .6;
}

.cart-item-quantity-counter button:active {
    opacity: .3;
}

.cart-item-quantity-counter p {
    padding: 0 .5rem;
}

.cart-item-total {
    margin-right: .5rem;
    text-align: center;
}

.cart-item-total p {
    margin: .25rem 0;
}

/* ..............Cart summary............... */

.cart-section.summary {
    min-width: 300px;
}

.cart-summary-container, .cart-summary-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cart-summary-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-summary-info:not(:last-child) {
    border-bottom: 2px solid var(--clr-bg-accent);
}

.cart-summary-info p {
    margin: .5rem 0;
}

.cart-summary-info:last-child {
    font-weight: 700;
}

.cart-summary-container button {
    width: 100%;
    border-radius: var(--br);
    border: none;
    padding: .7rem;
    background-color: var(--clr-bg-accent);
    font-size: large;
    color: var(--clr-text);
    font-weight: 600;
    cursor: pointer;
}

.cart-summary-container button:hover {
    background-color: var(--clr-hover);
}

.cart-summary-container button:active {
    background-color: var(--clr-active);
}

.cart-summary-container h3 {
    background-color: var(--clr-bg-accent);
    width: 100%;
    padding: .5rem;
    border-radius: var(--br);
    text-align: center;
    margin-top: 0;
}