.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero {
    max-width: 1400px;
    min-height: 100vh;
    position: relative;
    width: 100%;
    /* padding-block: 6rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--space-600);
}

.hero-title {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.hero-title h1 {
    font-size: var(--font-1000);
    font-weight: 500;
    background: -webkit-linear-gradient(bottom, var(--clr-logo-hat), var(--clr-text)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: var(--space-200) 0;
}

.title-box h1 span {
    background: -webkit-linear-gradient(bottom, var(--clr-logo-hop), var(--clr-text)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-title h2 {
    font-size: var(--font-600);
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}

.hero-title h2:nth-child(3) {
  font-weight: 700;
  font-size: var(--font-800);
  background: -webkit-linear-gradient(bottom, var(--clr-logo-hat), var(--clr-text)); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero-product {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    position: relative;
}

.hero-description {
    width: 80%;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 400px;
}

/* ........Bottle size............... */

.hero-bottle {
  position: absolute;
  width: 280px;
  height: auto;
  bottom: 5%;
  transition: transform 2500ms cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;
}

/*............Bottle spacing.............*/

.bottle-1 {
  left: calc(50% - 290px);
  z-index: 2;
  scale: .9;
}

.bottle-2 {
  left: calc(50% - 220px);
  z-index: 3;
  scale: .95;
}

.bottle-3 {
  left: calc(50% - 140px);
  /* transform: translateX(-50%); */
  z-index: 5;
}

.bottle-4 {
  right: calc(50% - 220px);
  z-index: 3;
  scale: .95;
}

.bottle-5 {
  right: calc(50% - 290px);
  z-index: 2;
  scale: .9;
}

/* .........Bottle transition.......... */

.hero-container.is-scrolled .bottle-1 {
  transform: translate(-25px, -20px);
}

.hero-container.is-scrolled .bottle-2 {
  transform: translate(-10px, -30px);
}

.hero-container.is-scrolled .bottle-3 {
  transform: translateY(-45px);
}

.hero-container.is-scrolled .bottle-4 {
  transform: translate(+10px, -30px);
}

.hero-container.is-scrolled .bottle-5 {
  transform: translate(+25px, -20px);
}

/* ..........Hero footer................. */

.hero-footer {
  position: absolute;
  bottom: var(--space-700);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 1000ms ease;
}

.hero-footer p {
  font-size: var(--font-500);
}

@keyframes arrowAnimation {
  from {color: rgb(128, 128, 128); transform: translateY(0)}
  to {color: var(--clr-bg); transform: translateY(10px)}
}

.hero-footer p:last-child {
  font-size: var(--font-700);
  animation: arrowAnimation 1500ms ease-in-out infinite alternate;
}

.hero-footer.is-scrolled {
  opacity: 0;
}

/*..........Hero responsive...............*/

@media screen and (max-width: 1250px) {
  
}