.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero {
    height: 100vh;
    position: relative;
    width: 100%;
    /* padding-block: 6rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 70px;
    background: -webkit-linear-gradient(var(--clr-text), var(--clr-logo-hat)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

