:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: var(--clr-text);
  background-color: var(--clr-bg);
  font-size: large;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-bg: rgb(34, 34, 34);
  --clr-bg-accent: rgb(22, 22, 22);
  --clr-text: rgb(214, 214, 214);
  --clr-highlightsss: rgb(42, 115, 99);
  --clr-hover: rgba(255, 255, 255, 0.062);
  --clr-active: rgba(255, 255, 255, 0.148);
  --clr-red: rgb(145, 36, 36);
  --clr-gold: gold;
  --br: 2px;
  --max-w: 1270px;
  --clr-highlight: rgb(35, 76, 52);
  --clr-orange: rgb(228, 87, 46);
  --clr-samurai: rgb(33, 76, 45);
  --clr-shogun: rgb(149, 61, 36);
  --clr-yakuza: rgb(164, 71, 106);
  --clr-sumo: rgb(37, 24, 13);
  --clr-ronin: rgb(171, 108, 42);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}