:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: var(--clr-text);
  background-color: var(--clr-bg);
  font-size: large;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-bg: rgb(34, 34, 34);
  --clr-bg-accent: rgb(22, 22, 22);
  --clr-text: rgb(214, 214, 214);
  --clr-highlight: rgb(42, 115, 99);
  --clr-hover: rgba(255, 255, 255, 0.062);
  --clr-active: rgba(255, 255, 255, 0.148);
  --br: 2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}