.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: sticky;
    top: .75rem;
    z-index: 10;
    /* margin-bottom: 2rem; */
}

.logo {
    position: absolute;
    top: 5px;
    left: -13px;
    font-size: larger;
    display: flex;
    align-items: center;
    color: var(--clr-logo-hat);
    letter-spacing: 4px;
}

.logo-image {
    height: 45px;
    width: 45px;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: .5rem;
    border-radius: 50%;
}

.logo-image img {
    width: auto;
    height: 100%;
    border-radius: inherit;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .5rem;
    border-radius: 999px;
    font-size: large;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.035),
        0 8px 30px rgba(0, 0, 0, 0.12); */
}


.link {
    text-decoration: none;
    color: var(--clr-text);
}

.active-link {
    color: var(--clr-logo-main);
    /* background-color: var(--clr-hover); */
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem 1rem;
    margin: 0 .2rem;
}

.nav-item.icon {
    padding: .5rem 1rem;
    /* cart icon hidden */
    display:none
}

.nav-item:hover {
    border-radius: var(--br);
    cursor: pointer;
    color: var(--clr-logo-hat);
}

@media screen and (max-width: 800px) {
    .nav-buttons {
        font-size: medium;
    }
    
    .logo p {
        font-size: medium;
    }

    .logo-image {
        width: 42px;
        height: 42px;
    }
}

@media screen and (max-width: 650px) {
    .nav-buttons {
        font-size: small;
    }

    .nav-item {
        padding: .3rem .5rem;
    }
    
    .logo p {
        display: none;
        /* left: -10px; */
    }

    .logo-image {
        width: 37px;
        height: 37px;
    }
}