.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: var(--clr-bg-accent);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: larger;
    display: flex;
    align-items: center;
    font-weight: 900;
    color: var(--clr-orange);
}

.logo-image {
    height: 45px;
    width: 45px;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: .5rem;
    border-radius: 13%;
}

.logo-image img {
    width: auto;
    height: 100%;
    border-radius: inherit;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .5rem;
    /* background-color: var(--clr-red); */
    border-radius: var(--br);
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: var(--clr-text);
}

.active-link {
    color: var(--clr-highlight);
    background-color: var(--clr-hover);
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem 1rem;
    margin: 0 .2rem;
}

.nav-item.icon {
    padding: .5rem 1rem;
}

.nav-item:hover {
    border-radius: var(--br);
    cursor: pointer;
    color: var(--clr-highlight);
}

