.shop-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shop-filters-container {
    max-width: 1270px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.shop-filters-container ul {
    display: flex;
    list-style: none;
    background-color: var(--clr-bg-accent);
    margin: 0;
    padding: .3rem;
    border-radius: var(--br);
}

.shop-filters-container ul li {
    font-size: medium;
    padding: .3rem 1rem;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}

.shop-filters-container ul li:hover {
    color: var(--clr-highlight);
}

.shop-items-container {
    max-width: 1270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg;}
    100% { --gradient-angle: 360deg;}
}

.shop-item-card {
    width: 300px;
    background-color: var(--clr-bg-accent);
    margin: 1rem;
    border-radius: var(--br);
    aspect-ratio: 10/16;
    position: relative;
    /* display: flex;
    flex-direction: column; */
}

.shop-item-card::before,
.shop-item-card::after {
    content: "";
    position: absolute;
    inset: -3px;
    z-index: -1;
    border-radius: inherit;
    background-image: conic-gradient(
        from var(--gradient-angle),
        var(--clr-highlight),
        var(--clr-bg-accent),
        var(--clr-highlight)
    );
    animation: rotation 4s linear infinite;
}

.shop-item-card::after {
    filter: blur(5px);
}

.card-image-container {
    padding: .4rem;
}

.card-image-container img {
    width: 100%;
    height: auto;
}

.shop-item-card-description,
.shop-item-card-price {
    margin: 0;
    padding: 0 .4rem;
}

.shop-item-card-description h1, p {
    margin: 0;
    padding: 0;
    font-size: large;
}

.shop-item-card-description p {
    height: 5.4rem;
    overflow-y: scroll;
}

.shop-item-card-description p::-webkit-scrollbar {
    display: none;
}

.shop-item-card-description p,
.shop-item-card-price p {
    font-size: medium;
}

.shop-item-card-price {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shop-item-page-container {
    max-width: 1270px;
}

.shop-item-page-container h1 {
    border-bottom: 2px solid var(--clr-highlight);
    text-align: center;
    font-size: xx-large;
}

.shop-item-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.item-page-info-container {
    width: 400px;
    height: 600px;
    padding-left: 1rem;
    border-left: 2px solid var(--clr-highlight);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-page-description {
    max-height: 250px;
    /* background-color: rebeccapurple; */
}

.item-page-description h2 {
    margin: 0;
    font-size: larger;
}

.item-page-description p {
    margin: 0;
    font-size: medium;
}

.item-page-beer-info h2 {
    margin: 0;
    font-size: larger;
}

.item-page-beer-info ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.item-page-beer-info ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-highlight);
}


.item-page-beer-info ul li p {
    font-size: medium;
}

.item-page-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-page-price p {
    position: relative;
    margin-bottom: 2rem;
}

.item-page-price p:first-child {
    font-weight: bold;
    color: var(--clr-highlight);
    font-size: xx-large;
}

.item-page-price p:last-child::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: -15px;
    border-radius: 50%;
}

.item-page-price.on-stock p:last-child::before {
    background-color: var(--clr-highlight);
}

.item-page-price.out-of-stock p:last-child::before {
    background-color: var(--clr-red);
}

.item-page-cart-button {
    display: flex;
    justify-content: center;
}

.item-page-cart-button button {
    font-size: large;
    padding: .7rem 3rem;
    background-color: var(--clr-highlight);
    border: none;
    border-radius: var(--br);
    cursor: pointer;
    color: var(--clr-text);
    transition: all .2s linear;
    scale: 1;
}

.item-page-cart-button button:hover {
    scale: 1.1;
}

.item-page-cart-button button:active {
    scale: 1;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  --star-size: 60px;
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  margin-bottom: .5rem;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--clr-gold) var(--percent), var(--clr-text) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.shop-item-page-review-container h2 {
    text-align: center;
    border-bottom: 2px solid var(--clr-highlight);
}

.item-page-review {
    display: flex;
    margin-bottom: 3rem;
}

.item-page-review-stars, .item-page-review-graph {
    width: 50%;
}

.item-page-review-stars {
    /* border-right: 2px solid var(--clr-highlight); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-page-review-stars button {
    background-color: var(--clr-highlight);
    border: none;
    margin-top: 1rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    transition: all .2s linear;
    scale: 1;
    font-size: medium;
    color: var(--clr-text);
}

.item-page-review-stars button:hover {
    scale: 1.1;
}

.item-page-review-stars button:active {
    scale: 1;
}

.review-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.664);
}

.review-modal .overlay {
    width: 100%;
    height: 100%;
}

/* ------------- Modal ------------- */


.item-review-from {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    width: 400px;
    background-color: var(--clr-bg-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.item-review-from h1 {
    margin-top: 0;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0, 0, 0, 0.774);
  transition: color 0.1s ease-in-out;
}

.radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 32px;
}

.radio-input:checked ~ .radio-label {
  color: #ffc700;
  color: gold;
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
  color: goldenrod;
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ .radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-input:checked ~ .radio-label:hover ~ .radio-label,
.radio-label:hover ~ .radio-input:checked ~ .radio-label {
  color: darkgoldenrod;
}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}

.item-review-input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
}

.item-review-input:focus { 
    outline:none; 
}

/* LABEL ======================================= */
.item-review-label {
  color: var(--clr-text); 
  font-size: medium;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.item-review-input:focus ~ .item-review-label, .item-review-input:valid ~ .item-review-label 		{
  top:-20px;
  font-size: 14px;
  color: var(--clr-highlight);
}

/* BOTTOM BARS ================================= */
.bar { 
    position:relative; display:block; width:300px;
}

.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: var(--clr-highlight); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.item-review-input:focus ~ .bar:before, .item-review-input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
/* .highlight {
  position:absolute;
  height:60%; 
  width: 100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
} */

/* active state */
/* .item-review-input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
} */

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background: var(--clr-highlight); }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background: var(--clr-highlight); }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background: var(--clr-highlight); }
  to 	{ width:0; background:transparent; }
}

.item-review-submit-buttons button {
    font-size: medium;
    margin: 0 0.5rem;
    padding: .5rem 1rem;
    background-color: var(--clr-highlight);
    border: none;
    scale: 1;
    transition: all .2s linear;
}

.item-review-submit-buttons button:hover {
    scale: 1.1;
}

.item-review-submit-buttons button:active {
    scale: 1;
}