.footer {
    background-color: var(--clr-bg-accent);
    padding-top: 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-logo {
    width: 200px;
    height: auto;
}

.footer-logo img {
    width: 100%;
    height: auto;
    border-radius: var(--br);
}

.footer > p {
    text-align: center;
    padding-bottom: .5rem;
}

.footer a:link {
    text-decoration: none;
    color: var(--clr-orange);
}

.footer a:link:hover {
    color: var(--clr-highlight);
}