.recipes-container {
    display: flex;
    justify-content: center;
}

.recipe:nth-child(2n) {
    background-color: var(--clr-highlight);
}


.recipe {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    min-width: 1270px;
    border-radius: var(--br);
}

.recipe p {
    margin: 0 .4rem;
    padding: 0 .5rem;
}

.flex {
    display: flex;
}

.flex p:first-child {
    width: 17px;
}

.recipe-container {
    border: 2px solid var(--clr-highlight);
    border-radius: var(--br);
    padding: 2rem;
    max-width: 1270px;
}

.recipe-info-container:not(:last-child) {
    border-bottom: 2px solid var(--clr-highlight);
}

.recipe-title {
    text-align: center;
    font-size: xx-large;
    border-bottom: 2px solid var(--clr-highlight);
    margin: 0;
    padding-bottom: .75rem;
}

