.stock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.stock-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-bg-accent);
    width: 800px;
    margin-bottom: 1rem;
    box-shadow: var(--bs);
}

.stock-image {
    width: 140px;
    height: auto;
    padding: .5rem;
}

.stock-image img {
    width: 100%;
}

.stock-info {
    display: flex;
    align-items: center;
}

.stock-title {
    margin-left: .5rem;
}

.stock-title p {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.stock-title p span {
    color: var(--clr-ronin);
    margin-top: 4px;
    margin-left: 4px;
}

.stock-value {
    margin-right: 1rem;
}

.stock-value p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-value p span {
    margin-top: 4px;
    margin-right: 4px;
    color: var(--clr-orange);
}

/* ..........Responsive.......... */

@media screen and (max-width: 900px) {
    .stock-item {
        width: 550px;
    }
}

@media screen and (max-width: 650px) {
    .stock-item {
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stock-info {
        width: 100%;
    }

    .stock-title {
        padding: .5rem;
    }

    .stock-title h2 {
        font-size: large;
    }

    .stock-title p {
        font-size: medium;
    }

    .stock-value {
        margin: 0;
        padding-bottom: .5rem;
    }

    .stock-value h2 {
        font-size: larger;
        margin: .2rem;
    }
}

